<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <script src="/static/angular.min.js"></script>


</head>
<body ng-app="AngularApp" ng-controller="AngularCtrl" ng-init="init()">

<div style="margin-top: 50px" class="container text-center">
    <h2>Привет =)</h2>
    <span class="help-block">Выберите чисто от одного до девяти</span>
    <h1 style="font-size: 150px" ng-bind="summ" class="text-primary"></h1>
    <button style="margin-left: 3px" class="btn" ng-class="{true:'btn-primary', false:'btn-default'}[n==selectedNumber]" ng-repeat="n in avalibleNumbers" ng-click="setNumber(n)" ng-bind="n"></button>
</div>


<script>
        var AngularApp = angular.module('AngularApp', []);

        AngularApp.controller('AngularCtrl', function($scope, $http) {
            $scope.selectedNumber = 0;
            $scope.avalibleNumbers = [1,2,3,4,5,6,7,8,9];
            $scope.summ = 0;

            $scope.handleNewSumm = function(data){
                console.log(data);
                $scope.summ = data;
                $scope.$apply()
            };

            $scope.setNumber = function (number) {
                $scope.selectedNumber = number;
                $scope.socket.send(number.toString());
            };

            $scope.init = function () {
                var host = window.location.hostname;
                var port = window.location.port;

                $scope.socket = new WebSocket("ws://"+host+":"+port+"/ws");

                $scope.socket.onopen = function() {
                  console.log("Соединение установлено.");
                };

                $scope.socket.onclose = function(event) {
                  if (event.wasClean) {
                    console.log('Соединение было закрыто');
                  } else {
                    console.log('Произошел сбой соединения');
                  }
                };

                $scope.socket.onerror = function(error) {
                    console.log("Ошибка " + error.message);
                };

                $scope.socket.onmessage = function(event) {
                    $scope.handleNewSumm(event.data);
                };

                console.log($scope);

            };


        });


</script>

</body>
</html>